body {
    text-align: center;
    background-color: #3f3e3e;
}

.navBar {
    display: flex;
    gap: 20px;
    height: 50px;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    color: rgb(11, 168, 240);
}

button {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    border: none;
    color: aliceblue;
}

.active {
    background-color: #2b2b2b;
}

.active:hover {
    background-color: #2b2b2b;
}

.inActive {
    display: none;
}

#next {
    border: 1px solid greenyellow;
}

#next:hover {
    color: greenyellow;
}

#prev {
    border: 1px solid orangered;
}

#prev:hover {
    color: orangered;
}

.info {
    color: rgb(11, 168, 240);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info p {
    font-size: 20px;
    font-weight: bold;
}

canvas {
    background-color: red;
    width: 90vmin !important;
    height: 90vmin !important;
    max-width: 560px !important;
    max-height: 560px !important;
    border: 2px solid rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
    button {
        width: 25vmin;
        height: 10vmin;
        font-size: 5vi;
    }

    .info p {
        font-size: 5vi;
    }
}